POSTGRES_DB=analytics_db
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=change_me_admin
ANALYST_PASSWORD=change_me_analyst
INGESTION_PASSWORD=change_me_ingestion
DBT_PASSWORD=change_me_dbt
GOLD_PROMOTER_PASSWORD=change_me_gold_promoter
MCP_READER_PASSWORD=change_me_mcp_reader
CATALOG_WRITER_PASSWORD=change_me_catalog_writer
